/* LandingPage.css */

/* NAVBAR personalizado */
.custom-navbar {
  background-color: #212529 !important; /* un tono oscuro */
}

.custom-navbar .navbar-brand {
  color: #fff !important;
}

/* RECTÁNGULO DE INFO */
.info-rect {
  border-color: #dee2e6 !important;
  background: #f8f9fa !important;
  max-width: 800px;
  min-height: 340px;
  margin-top: 3rem;
  padding: 2.5rem;
  width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

/* Testimonios */
.testimonios-section {
  background: #fff;
  padding: 3rem 0;
}

.testimonios-title {
  color: #0d6efd;
  margin-bottom: 2rem;
}
